// Add slugs as the name of each colour and then the hex code
$palette: (
  colour: #FF0000,
  colour-two: #001EFF,
  colour-three: #00FF00,
  colour-four: #F6FF00,
);

// no need to touch this part, this will create all the necessary classes
@each $colour in $palette {
  .has-#{nth($colour, 1)}-background-color {
    background: nth($colour, 2);
  }
  .has-#{nth($colour, 1)}-color {
    color:nth($colour, 2);
  }
}